.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.addButton {
  background-color: var(--primary);
  color: var(--text);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.table {
  width: 100%;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid var(--bgSoft);
}

.productSection {
  display: flex;
  align-items: center;
  gap: 10px;
  word-break: break-all;
  min-width: 120px;
}

.imageWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 40px;
  height: 40px;
}

.productImage {
  border-radius: 50%;
  object-position: top;
  object-fit: cover;
}

.textRight {
  display: flex;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.view {
  background-color: var(--info);
}

.delete {
  background-color: var(--error);
}
