.container {
}

.item {
  position: relative;
  background: linear-gradient(to top, #182237, #253352);
  padding: 20px 24px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.bgContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
}

.bg {
  object-fit: cover;
  opacity: 0.2;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
}

.notification {
  font-weight: bold;
  font-size: 16px;
}

.title {
  font-weight: 800;
  font-size: 16px;
  color: var(--textSoft);
}

.subtitle {
  color: var(--textSoft);
}

.button {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
}

.button:hover {
  background-color: #6f68f1;
}

.button:disabled {
  background-color: var(--primary);
  cursor: default;
}
